@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

:root {
  --primaryColor: #fff;
  --navColor1: #07324e;
  --navColor2: #616161;
  --navColor3: #c1440e;
  --navColor4: #b65c27;
  --navColor5: #cfc3a1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: Nunito, sans-serif;
  background-color: #000;
}

/* --- Menu Icon ------------------------------------ */

.menu-icon {
  cursor: pointer;
  display: inline;
  position: fixed;
  top: 1.6rem;
  right: 3.2rem;
  z-index: 9999;
}

.bar1,
.bar2,
.bar3 {
  width: 3.5rem;
  height: 0.2rem;
  margin: 0.8rem 0;
  background-color: #fff;
  transition: all 0.4s;
}

/* Rotate first bar */
.change .bar1 {
  transform: rotate(-45deg) translate(-0.7rem, 0.8rem);
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  transform: rotate(45deg) translate(-0.6rem, -0.8rem);
}

/* --- Navigation Menu ------------------------------ */

/* Overlay */

/* Default: hidden */
.overlay {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.7);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9998;
  transform: translateX(-100vw);
  transition: all 0.8s ease-in-out;
}

.overlay-active {
  transform: translateX(0);
  transition: all 0.4s ease-in-out;
}

/* Navigation Menu Items */
.nav, 
.nav-list {
  height: 100vh;
}

.nav-list {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  list-style: none;
}

.nav-list li {
  height: 20%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.nav-list li:nth-of-type(1) {
  background-color: var(--navColor1);
}

.nav-list li:nth-of-type(2) {
  background-color: var(--navColor2);
}

.nav-list li:nth-of-type(3) {
  background-color: var(--navColor3);
}

.nav-list li:nth-of-type(4) {
  background-color: var(--navColor4);
}

.nav-list li:nth-of-type(5) {
  background-color: var(--navColor5);
}

.nav-link:link,
.nav-link:visited {
  font-size: 1.6rem;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 4px;
  transition: all 0.3s;
}

.nav-link:hover,
.nav-link:active {
  transform: scale(1.2);
}

.nav-list li span {
  width: 20vw;
  height: 0.3rem;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  opacity: 0;
  transition: all 0.3s;
}

.nav-link:hover+span {
  opacity: 1;
}

/* Slide in animation for each nav item */
.slide-in-1 {
  animation: slide-in 0.4s linear 0.2s both;
}

.slide-in-2 {
  animation: slide-in 0.4s linear 0.4s both;
}

.slide-in-3 {
  animation: slide-in 0.4s linear 0.6s both;
}

.slide-in-4 {
  animation: slide-in 0.4s linear 0.8s both;
}

.slide-in-5 {
  animation: slide-in 0.4s linear 1s both;
}

@keyframes slide-in {
  from {
    transform: translateX(-100%);
  }
  
  to {
    transform: translateX(0);
  }
}

/* Slide out animation for each nav item */
.slide-out-1 {
  animation: slide-out 0.3s linear 0.5s both;
}

.slide-out-2 {
  animation: slide-out 0.3s linear 0.4s both;
}

.slide-out-3 {
  animation: slide-out 0.3s linear 0.3s both;
}

.slide-out-4 {
  animation: slide-out 0.3s linear 0.2s both;
}

.slide-out-5 {
  animation: slide-out 0.3s linear 0.1s both;
}

@keyframes slide-out {
  from {
    transform: translateX(0);
  }
  
  to {
    transform: translateX(-100%);
  }
}
/* --- Sections ------------------------------------ */

section {
  width: 100%;
  height: 100vh;
  color: var(--primaryColor);
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: relative;

  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

section h1 {
  font-size: 2.4rem;
}

.section-earth {
  background-image: url('../img/earth.jpg');
}

.section-earth a {
  text-decoration: none;
  font-size: 1.3rem;
  padding-bottom: 0.5rem;
  color: var(--primaryColor);
  border-bottom: 1px solid var(--primaryColor);
  position: absolute;
  top: 2.4rem;
  left: 2.4rem;
}

.section-moon {
  background-image: url('../img/moon.jpg');
}

.section-mars {
  background-image: url('../img/mars.jpg');
}

.section-jupiter {
  background-color: #010101;
  background-image: url('../img/jupiter.jpg');
}

.section-saturn {
  background-color: #040404;
  background-image: url('../img/saturn.jpg');
}

/* Media Query: Large Smartphone (Vertical) */
@media (max-width: 17.5em) {
  .section-earth a {
    top: 1.6rem;
    left: 1.6rem;
  }

  .menu-icon {
    top: 0.8rem;
    right: 1.6rem;
  }
}
