* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  background-color: #fcfefc;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url('../img/robot.gif');
  background-size: auto;
  background-position: center center;
  background-repeat: no-repeat;
}

button {
  cursor: pointer;
  outline: none;
  width: 20rem;
  height: 5rem;
  font-family: 'Courier New', Courier, monospace;
  font-size: 2rem;
  color: #fff;
  background-color: #197b91;
  border: none;
  border-radius: 5px;
  box-shadow: 0.2rem 0.2rem 2rem 1rem rgba(0, 0, 0, 0.2);
  transform: translateY(7rem);
  transition: all 0.3s;
}

button:hover {
  filter: brightness(90%);
}

button:active {
  transform: translateY(7.5rem);
}

button:disabled {
  cursor: default;
  filter: brightness(30%);
}
