@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  background-color: #fcfefc;
  font-family: 'Space Mono', monospace;
  overflow-x: hidden;
}

/* Page Container */
.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Settings Menu */
.settings-container {
  min-width: 25rem;
  margin-top: 3.2rem;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  gap: 1.8rem;
  z-index: 9999;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
  appearance: none;
  background-color: inherit;
}

.settings-button {
  width: 4.8rem;
  height: 4.8rem;
  cursor: pointer;
  transition: all 0.2s;
}

.settings-button img {
  width: 100%;
}

.settings-button:active {
  transform: scale(0.9);
}

.settings-button:hover,
.settings-active {
  filter: brightness(70%);
}

.settings-container > div {
  position: relative;
}

.settings {
  min-width: 25rem;
  background-color: rgba(252, 254, 252, 0.8);
  backdrop-filter: blur(5px);
  display: grid;
  grid-template-columns: 1fr repeat(2, 0.5fr);
  align-items: center;
  justify-items: center;
  gap: 1.4rem;
  padding: 0.9rem 1.2rem;
  position: absolute;
  top: 0;
  left: 100%;
  transition: all 0.5s ease-in-out;
  z-index: 9999;

  /* hide */
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.settings--open {
  transform: translateX(-100%);

  /* show */
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}

.settings--option-heading {
  font-size: 1.6rem;
  font-weight: 500;
}

.settings--option-item {
  height: 4rem;
}

[type='radio'],
[type='checkbox'] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

[type='radio']:checked + label img,
[type='checkbox']:checked + label img {
  filter: grayscale(0%);
}

.settings--option-img {
  height: 100%;
  cursor: pointer;
  filter: grayscale(85%);
}

.settings--option-img:hover {
  filter: grayscale(0%);
}

.filter-img {
  border: 2px solid #cd1c1c;
  border-radius: 50%;
}

/* Robot */
.robot-container {
  max-width: 25rem;
  height: 100%;
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.robot {
  width: 100%;
  position: relative;
}

.robot img {
  position: relative;
  top: 0;
  left: 50%;
  transform: translate(-50%, -5rem);
}

.joke-button {
  width: 20rem;
  height: 5rem;
  font-family: 'Space Mono', monospace;
  font-size: 2rem;
  color: #fff;
  background-color: #1d8ca5;
  border-radius: 6px;
  box-shadow: 0.2rem 0.2rem 2rem 1rem rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 24.5rem);
  transition: all 0.3s;
}

.joke-button:hover {
  filter: brightness(90%);
}

.joke-button:active {
  transform: translate(-50%, 25rem);
}

.joke-button:disabled {
  cursor: default;
  filter: brightness(30%);
}
