@import url('https://fonts.googleapis.com/css?family=Spartan:400,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: Spartan, sans-serif;
  font-size: 1.2rem;
  background-color: #c9ced3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.player-container,
.song-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.player-container {
  width: 40rem;
  height: 50rem;
  background-color: #e7e7e7;
  border-radius: 20px;
  box-shadow: 0 15px 30px 5px rgba(0, 0, 0, 0.3);
}

.img-container {
  width: 30rem;
  height: 30rem;
  position: relative;
  top: -5rem;
  user-select: none;
}

.img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 0 5px 30px 5px rgba(0, 0, 0, 0.5);
}

.song-title {
  font-size: 2.5rem;
}

.artist-name {
  font-size: 2rem;
  font-weight: 400;
  margin-top: 0.5rem;
}

/* Progress */
.progress-container {
  width: 90%;
  height: 0.4rem;
  margin: 4rem 2rem 3rem;
  background-color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.progress {
  height: 100%;
  width: 0%;
  background-color: #242323;
  border-radius: 5px;
  transition: width 0.1s linear;
}

.duration-wrapper {
  display: flex;
  justify-content: space-between;
  position: relative;
  top: -2.5rem;
}

/* Controls */
.player-controls {
  width: 20rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 2rem;
}

.fas {
  font-size: 3rem;
  color: rgb(129, 129, 129);
  cursor: pointer;
  user-select: none;
  transition: all 0.2s;
}

.fas:hover {
  filter: brightness(80%);
}

.main-button {
  font-size: 4rem;
}

/* Media Query: Phones */
@media screen and (max-width: 25em) {
  .player-container {
    width: 30rem;
    height: 43rem;
    margin: 7.5rem auto 5rem;
  }

  .img-container {
    width: 23rem;
    height: 23rem;
    top: -4rem;
  }

  .song-title {
    font-size: 2rem;
  }

  .artist-name {
    font-size: 1.5rem;
  }
}
